*{
    padding: 0;
    margin: 0;
}

nav{
    margin-top: 20px;
   display: flex;
   justify-content: space-around;
}

.nav{
    width: 600px;
    background-color: rgb(1, 4, 36);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.nav a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


.relleno{
    padding: 10px 7px;
    background-color: bisque;
    border-radius: 5px; 
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
}

.imagen{
    list-style: none;
    margin: 10px 10px;
}

.boton{
    padding: 10px 7px;
    background-color: bisque;
    border-radius: 5px;
    margin: 10px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    width: 100px;
    height: 80px;
    object-fit:cover;
}

.logo img{
    width: 100%;
    border-radius: 10px;
}

.man{
    list-style: none !important;
}
